{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 style="padding-bottom:3rem"class="mx-auto my-0 text-uppercase">{% translate "Panel Gracza" %}</h1>
        <div/>
        <div class="row">
          <div class="col"></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-3">
              <img src=assets/img/avatar.jpg" class="img-thumbnail" alt="..." >
            </div>
            <div class="col-6">
              <h4 style="letter-spacing: 3px; padding-bottom: 2rem"  class="text-grey mb-4"> {% translate "Jesteś zalogowany jako:" %} </h4>
              <a class="btn btn-primary" href="#zmien">{% translate "Zmień hasło lub usuń konto" %}</a>

            </div>
            <div class="col">
              <h6 style="padding: 0.5rem" class="text-grey mb-4 fst-italic">{{ request.user }} </h6>
            </div>
          </div>
          <div/>
        </div>
      </div>
    </div>

  </div>
</header>
<section class="change-section text-center" id="zmien">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <div class="row">
          <div style="padding-right: 1.5rem" class="col">
            <h2 class="text-white mb-4">{% translate "Zmień swoje hasło" %}</h2>
            <form method="POST" action="{% url 'password_change' %}">
              {% csrf_token %}
              <div class="form-outline mb-4">
                  {{ form.old_password }}
                <label class="col-form-label" for="password1">{% translate "Obecne hasło" %}</label>
              </div>
              <div class="form-outline mb-4">
                  {{ form.new_password1 }}
                <label class="col-form-label" for="password2">{% translate "Nowe hasło" %}</label>
              </div>
              <div class="form-outline mb-4">
                  {{ form.new_password2 }}
                <label class="col-form-label" for="password3">{% translate "Hasło" %}</label>
              </div>
                {%  for message in messages %}
                    <p id="message" class="text-white">{{ message }}</p>
                {% endfor %}
              <div class="d-flex align-items-center justify-content-center pb-4">
                <input class="btn btn-primary" type="submit" value="Zaloguj">
              </div>
            </form>
          </div>

          <div style="padding-left: 1.5rem" class="col">
            <div class="form-outline mb-4">
            <h2 style="padding-top: 1rem" class="text-white mb-4">{% translate "Usuń konto" %}</h2>
            <h6 style="padding: 0.5rem" class="text-white mb-4">{% translate "W celu usunięcia konta wprowadź swoje hasło" %}</h6>
            <form method="POST" action="{% url 'delete_account' %}">
              {% csrf_token %}
              <div class="form-outline mb-4">
                  {{ verify_password_form.password }}
                <label class="col-form-label" for="password4">{% translate "Hasło" %}</label>
              </div>
                {%  for message in messages %}
                    <p id="message" class="text-white">{{ message }}</p>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Usuń konto">
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
{% endblock content %}
