{% extends 'base.html' %}
{% block content %}
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="grid-container">
                <div class="col-5 grid-child">
                    <table class="table table-bordered table-dark" id="yourboard">
                    </table>
                </div>

                <div class=" col-5 grid-child">
                    <table class="table table-bordered table-dark" id="enemyboard">
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script>
        let board = [];
        let board2 = [];
        let fleet = [];
        let container1 = document.getElementById("yourboard");
        let container2 = document.getElementById("enemyboard");

        for (let i = 0; i < 10; i++) {
            board[i] = [];
            board2[i] = []
            for (let j = 0; j < 10; j++) {
                board[i][j] = 0;
                board2[i][j] = 0;
            }
        }

        for (let i = 0; i < 4; i++) {
            for (let j = 0; j < 4 - i; j++) {
                fleet.push(i + 1)
            }
        }


        function randomly_locate_ships(boardToEdit, fleet) {
            let sum = 0;
            while (sum < 20) {
                sum = 0;

                for (let i = 0; i < fleet.length; i++) {
                    orient = Math.round(Math.random());
                    place_start = Math.floor(Math.random() * (10 - fleet[i]));
                    place_on_axis2 = Math.floor(Math.random() * 10);

                    for (let s = 1; s <= fleet[i]; s++) {
                        if (orient == 1) {
                            boardToEdit[place_start + s][place_on_axis2] = i + 1;
                        } else {
                            boardToEdit[place_on_axis2][place_start + s] = i + 1;
                        }
                    }
                }
                for (let i = 0; i < 10; i++) {
                    for (let j = 0; j < 10; j++) {
                        if (boardToEdit[i][j] != 0) {
                            sum++;
                        }
                    }
                }
                sum = summingValuesIn2dArray(boardToEdit);
                if (sum < 20) {
                    for (let i = 0; i < 10; i++) {

                        for (let j = 0; j < 10; j++) {
                            boardToEdit[i][j] = 0;
                        }
                    }
                }
                console.log(sum);
            }
        }

        function summingValuesIn2dArray(array) {
            let sum = 0;
            for (let i = 0; i < array.length; i++) {
                for (let j = 0; j < array.length; j++) {
                    if (array[i][j] != 0) {
                        sum++;
                    }
                }
            }
            return sum;
        }

        function createBoard(boardToDisplay, tableIndex) {
            let parent = document.getElementById("enemyboard");
            let parent2 = document.getElementById("yourboard");
            parent.id = parent.id + tableIndex;
            parent.id = parent.id + tableIndex;


            let tbl = container1;
            let tbl2 = container2;

            let tblBody = document.createElement("tbody");
            let tblBody2 = document.createElement("tbody");

            for (let j = 0; j < 11; j++) {
                var row = document.createElement("tr");
                var row2 = document.createElement("tr");

                for (var i = 0; i < 11; i++) {

                    var cell = document.createElement("td");
                    var cell2 = document.createElement("td");

                    var cellText2 = document.createTextNode("0");
                    cell2.className = "enemys-field";
                    cell2.id = String.fromCharCode(64 + j) + "," + i;

                    if (j == 0 && i != 0) {
                        var cellText = document.createTextNode(i);
                        var cellText2 = document.createTextNode(i);
                    } else if (j == 0 && i == 0) {
                        var cellText = document.createTextNode("X");
                        var cellText2 = document.createTextNode("X");
                    } else if (i == 0) {
                        var cellText = document.createTextNode(String.fromCharCode(64 + j));
                        var cellText2 = document.createTextNode(String.fromCharCode(64 + j));
                    } else {
                        var cellText = document.createTextNode(boardToDisplay[i - 1][j - 1]);
                        cellText.className = "your-field"
                    }

                    cell.appendChild(cellText);
                    cell2.appendChild(cellText2)
                    row.appendChild(cell);
                    row2.appendChild(cell2);
                }

                //row added to end of table body
                tblBody.appendChild(row);
                tblBody2.appendChild(row2);
            }

            // append the <tbody> inside the <table>
            tbl.appendChild(tblBody);
            tbl2.appendChild(tblBody2);

            tbl.setAttribute("border", "2");
            tbl2.setAttribute("border", "2");
        }

        randomly_locate_ships(board, fleet);
        randomly_locate_ships(board2, fleet)
        console.log(board);
        console.log(board2);

        console.log(fleet);
        createBoard(board, "table1");
        createBoard(board2, "table2");


        let chosen_field;
        let game_on = false;
        let currentPlayer = 1;

        $(document).ready(function () {
            $(".table2").hide();
            $(".enemys-field").click(function () {
                    let rowcol = this.id.split(',');
                    let r = rowcol[0];
                    let c = rowcol[1];
                    alert(r + c);

                    if (this.className == "enemys-field") {
                        this.className = "field checkedfield";
                        chosen_field = parseInt(this.textContent);
                        if (chosen_field == 0 && currentPlayer == 1) {
                            $(".table1").hide();
                            $(".table2").show();
                            currentPlayer = 2;
                            alert("ruch 2. gracza");
                        } else if (chosen_field == 0 && currentPlayer == 2) {
                            $(".table2").hide();
                            $(".table1").show();
                            currentPlayer = 1;
                            alert("ruch 1. gracza");
                        }
                        console.log(chosen_field);
                    } else {

                    }
                }
            );
        });


    </script>
{% endblock content %}