{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">{% translate "statystyki" %}</h1>
            <table class="table table-dark">
              <thead>
              <tr>
                <th>#</th>
                <th>{% translate "Nazwa Użytkownika" %}</th>
                <th><a id="multiplayer" onclick="chooseMode(this.id)" class="selectedMode">{% translate "vs gracz" %}</a></th>
                <th><a id="easy" onclick="chooseMode(this.id)">{% translate "vs łatwy" %}</a></th>
                <th><a id="medium" onclick="chooseMode(this.id)">{% translate "vs średni" %}</a></th>
                <th><a id="hard" onclick="chooseMode(this.id)">{% translate "vs trudny" %}</a></th>
              </tr>
              </thead>
                <tbody id="stat_table">
                  {% for result in ranking_multiplayer %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ result.username }}</td>
                        <td style='background-color: rgba(255, 255, 255, 0.3)'>{{ result.result_multiplayer }}</td>
                        <td>{{ result.result_easy }}</td>
                        <td>{{ result.result_medium }}</td>
                        <td>{{ result.result_hard }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
      </div>
    </div>
  </div>

    <style>
        .selectedMode{
            background-color: transparent;
        }
    </style>

    <script>
        function chooseMode(mode){
            var element = document.getElementsByClassName('selectedMode');
                element[0].classList.remove("selectedMode");
            document.getElementById(mode).classList.add("selectedMode");

            var t = "";
            if(mode === "multiplayer") {
                {% for result in ranking_multiplayer %}
                    t += "<tr>";
                    t += "<td>{{ forloop.counter }} </td>";
                    t += "<td>{{ result.username }} </td>";
                    t += "<td style='background-color: rgba(255, 255, 255, 0.3)'>{{ result.result_multiplayer }} </td>";
                    t += "<td>{{ result.result_easy }} </td>";
                    t += "<td>{{ result.result_medium }} </td>";
                    t += "<td>{{ result.result_hard }} </td>";
                    t += "</tr>";
                {% endfor %}
            }
            else if(mode === "easy") {
                {% for result in ranking_easy %}
                    t += "<tr>";
                    t += "<td>{{ forloop.counter }} </td>";
                    t += "<td>{{ result.username }} </td>";
                    t += "<td>{{ result.result_multiplayer }} </td>";
                    t += "<td style='background-color: rgba(255, 255, 255, 0.3)'>{{ result.result_easy }} </td>";
                    t += "<td>{{ result.result_medium }} </td>";
                    t += "<td>{{ result.result_hard }} </td>";
                    t += "</tr>";
                {% endfor %}
            }
            else if(mode === "medium") {
                {% for result in ranking_medium %}
                    t += "<tr>";
                    t += "<td>{{ forloop.counter }} </td>";
                    t += "<td>{{ result.username }} </td>";
                    t += "<td>{{ result.result_multiplayer }} </td>";
                    t += "<td>{{ result.result_easy }} </td>";
                    t += "<td style='background-color: rgba(255, 255, 255, 0.3);'>{{ result.result_medium }} </td>";
                    t += "<td>{{ result.result_hard }} </td>";
                    t += "</tr>";
                {% endfor %}
            }
            else if(mode === "hard") {
                {% for result in ranking_hard %}
                    t += "<tr>";
                    t += "<td>{{ forloop.counter }} </td>";
                    t += "<td>{{ result.username }} </td>";
                    t += "<td>{{ result.result_multiplayer }} </td>";
                    t += "<td>{{ result.result_easy }} </td>";
                    t += "<td>{{ result.result_medium }} </td>";
                    t += "<td style='background-color: rgba(255, 255, 255, 0.3);'>{{ result.result_hard }} </td>";
                    t += "</tr>";
                {% endfor %}
            }
            document.getElementById("stat_table").innerHTML = t;
        }
    </script>
{% endblock content %}