{% extends 'base.html' %}
{% block content %}
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">Statystyki</h1>
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>vs gracz</th>
            <th>vs łatwy</th>
            <th>vs średni</th>
            <th>vs trudny</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">-</th>
            <td>AI łatwy</td>
            <td>-</td>
            <td>5</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <th scope="row">-</th>
          <td>AI średni</td>
          <td>-</td>
          <td>-</td>
          <td>15</td>
          <td>-</td>
          </tr>
          <th scope="row">-</th>
          <td>AI trudny</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>20</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>5</td>
            <td>10</td>
            <td>20</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>5</td>
            <td>10</td>
            <td>20</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>5</td>
            <td>10</td>
            <td>20</td>
            <td>0</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}